.page {
  background-color: #ffffff;
  color: #757575;
}

.logo {
  color: #212121;
}
/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* цвет логотипа #2196F3 */
/* основной цвет фона (в т.ч. панели навигации) белый #FFFFFF */
/* вторичный цвет фона #F5F4FA */
/* цвет выделения синий #2196F3 */
/* цвет адреса белый #FFFFFF */
/* цвет емейла и телефона в футере rgba(255, 255, 255, 0.6) */
